/*---------------------------------------
/*  3.1 Header
-----------------------------------------*/
.header {
  position: absolute;
  width: 100%;
  background: $dark-alpha;
  @include lg-screen {
    background: rgba($dark, 0.1);
  }
}
