/*---------------------------------------
/*  3.3 Nav
-----------------------------------------*/
.primary-nav {
  height: 0;
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 0%;
  right: 0%;
  background: $dark-alpha;
  z-index: 99;
  font-family: $heading-font;
  font-size: 2.5rem;
  font-weight: 700;
  @include lg-screen {
    height: auto;
    position: relative;
    background: transparent;
    font-size: 1rem;
    font-weight: 400;
  }
  &--open {
    height: 100vh;
    width: 100%;
    @include lg-screen {
      height: 0;
      width: 0;
    }
  }
}
.menu {
  padding: 0;
  margin: auto;
  list-style: none;
  @include lg-screen {
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    &__item {
      float: left;
    }
  }
  &__link {
    display: block;
    margin: 1.5rem 0;
    position: relative;
    text-transform: uppercase;
    color: lighten($dark, 85%);
    @include lg-screen {
      padding: 1.1rem 0.7rem;
      margin: 0;
      border-bottom: 4px solid transparent;
      color: lighten($dark-gamma, 15%);
      transition: all 0.5s;
    }

    &:hover {
      text-decoration: none;
      color: lighten($dark, 90%);
      @include lg-screen {
        color: $beta;
        border-bottom: 4px solid $beta;
      }
    }
    &::after {
      content: "";
      display: block;
      height: 1rem;
      width: 0%;
      position: absolute;
      top: 40%;
      left: 0%;
      background: $alpha;
      transition: all 0.5s;
      z-index: -1;
      @include lg-screen {
        display: none;
      }
    }
    &:hover::after {
      width: 100%;
      @include lg-screen {
        width: 0%;
      }
    }
  }
}

.porfolio-menu .menu__item {
  cursor: pointer;
}
