/*---------------------------------------
/*  3.12 Section Banner
-----------------------------------------*/
.section-banner {
  &--blog {
    background: url(../img/about-img.jpeg) center center no-repeat;
    background-size: cover;
  }
  &__overlay {
    width: 100%;
    height: 100%;
    background: rgba($dark, 0.6);
  }
  &__content {
    padding: 13rem 0 9rem;
    margin: auto;
    color: $light;
  }
  &__title {
    margin-bottom: 1rem;
    color: $light;
    text-transform: uppercase;
  }
}
